<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil Bibliothèque</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Liste livres</h1>
    <p>Bonjour - <%=username %></p>
    <a href="/logout">Se déconnecter</a>
    <a href="/form">Formulaires d'ajout</a>
  </header>
  <div class="list-livres">
    <table>
      <tr>
        <th>ID</th>
        <th>Nom livre</th>
        <th>Description</th>
        <th>Image</th>
        <th>Auteurs</th>
        <th>Genres</th>
      </tr>
    </table>
  </div>
</body>
<script>
  async function getResource(property) {
    const response = await fetch(`http://localhost:3000/api/${property}`);
    const result = await response.json();
    return result;
  }

  let table = document.querySelector("table");

  const books = getResource("livres");
  const authors = getResource("auteurs");
  const genres = getResource("genres");

  Promise.all([books, authors, genres])
    .then(values => {

      let array = values[0].map(obj => {
        let robj = {
          id: obj.id_livres,
          title: obj.titre,
          description: obj.livres_description,
          image: obj.image,
          authors: [],
          genres: []
        }

        values[1].forEach(author => {
          if (author.id_livres === robj.id) {
            let fullName = `${author.prenom} ${author.nom}`;
            robj.authors = [...robj.authors, fullName];
          }
        })

        values[2].forEach(genre => {
          if (genre.id_livres = robj.id) {
            if (!robj.genres.includes(genre.libelle)) {
              robj.genres = [...robj.genres, genre.libelle];
            }
          }
        })

        return robj;
      })
      console.log(array);

      array.forEach(livre => {
        let tr = document.createElement("tr");

        for (const key in livre) {
          let td = document.createElement("td");
          let helper, textNode;

          if (key === "authors" || key === "genres") {
            helper = livre[key].join(", ")
          } else {
            helper = livre[key];
          }

          textNode = document.createTextNode(helper);
          td.append(textNode);
          tr.append(td);
        }
        table.append(tr);
      })
    })
</script>

</html>