<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil Bibliothèque</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Liste livres</h1>
    <p>Bonjour - <%=username %></p>
    <a href="/logout">Se déconnecter</a>
    <a href="/form">Formulaires d'ajout</a>
  </header>
  <div class="list-livres">
    <table>

    </table>
  </div>
</body>
<script>
  async function getBooks() {
    const response = await fetch("http://localhost:3000/api/livres");
    const livres = await response.json();
    return livres;
  }
  let table = document.querySelector("table");

  getBooks().then(livres => {
    let tr = document.createElement("tr");

    for (const key in livres[0]) {
      let th = document.createElement("th");
      let textNode = document.createTextNode(key);

      th.append(textNode);
      tr.append(th);
    }
    table.append(tr);

    livres.forEach(livre => {
      let tr = document.createElement("tr");

      for (const key in livre) {
        let td = document.createElement("td");
        let textNode = document.createTextNode(livre[key]);

        td.append(textNode);
        tr.append(td);
      }
      table.append(tr);
    })
  });
</script>

</html>