<!DOCTYPE html>
<html>

<head>
  <title>Connection bibliothèque</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Bienvenue à la bibliothèque</h1>
  <p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
  <div class="container">
    <form action="/login" method="post">
      <div class="group-form">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username" id="username">
      </div>

      <div class="group-form">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="group-btn">
        <button type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</body>

</html>